/* Card Styling */
.swipeable-card {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, border-color 0.3s ease;
    will-change: transform;
    position: relative;
    /* Allow overlay */
}

/* Swipe Animation Styling */
.swipeable-card.swipe-left {
    transform: translateX(-100%) rotate(-10deg);
    opacity: 0;
}

.swipeable-card.swipe-right {
    transform: translateX(100%) rotate(10deg);
    opacity: 0;
}

/* Image Styling */
.profile-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Text Styling */
h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0;
}

p {
    font-size: 1.2rem;
    color: #555;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 8px 0;
}

/* Swipe Buttons Styling */
.swipe-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 20px;
    width: 120%;
}

.swipe-button {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: none;
    background: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swipe-button:hover {
    transform: scale(1.2);
}

.dislike {
    color: #939393;
    border: 2px solid #939393;
}

.like {
    color: #9b59b6;
    border: 2px solid #9b59b6;
}

/* Active Button States */
.swipe-button.active.dislike {
    background-color: #939393;
    color: white;
    /* White for contrast */
}

.swipe-button.active.like {
    background-color: #9b59b6;
    color: white;
    /* White for contrast */
}

/* Icons for Buttons */
.swipe-buttons .like::before {
    content: '♡';
}

.swipe-buttons .dislike::before {
    content: 'X';
}